.wrapper {
  font-size: 1.5rem;
}

.wrapper__title {
  text-align: center;
  margin-bottom: 3rem;
  color: rgb(111, 134, 21);
}

.wrapper__input {
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 4rem;
}

.wrapper__entries {
  width: 13rem;
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper__search {
  margin-top: 0.2rem;
}

#wrapper__employeesTableLength {
  width: 4rem;
  padding: 0.2rem 0;
  margin-right: 0.2rem;
}

#wrapper__employeesTableFilter {
  margin-left: 0.2rem;
}

@media only screen and (max-width: 640px) {
  .wrapper__input {
    margin: 0 1rem;
    font-size: 1rem;
    font-weight: bold;
  }

  .wrapper__search {
    margin-top: 0;
    margin-bottom: 0.1rem;
  }

  .wrapper__entries {
    width: auto;
  }
}

@media only screen and (max-width: 476px) {
  input {
    width: auto;
  }
  .wrapper__title {
    margin-bottom: 1rem;
  }
  .wrapper__input {
    display: block;
  }
  .wrapper__entries {
    display: block;
    margin-bottom: 1rem;
  }
  .wrapper__search {
    display: block;
    width: 100%;
  }
  #wrapper__employeesTableFilter {
    width: 70%;
  }
  #wrapper__employeesTableLength {
    margin: 0 1.1rem;
  }
}
